@import "compass/utilities/color/contrast";

$contrasted-lightness-threshold: 50%;

@import "colors";


$color-map: (
  alpha-gray:             $alpha-gray           ,
  bravo-gray:             $bravo-gray           ,
  charlie-gray:           $charlie-gray         ,
  alpha-color:            $alpha-color          ,
  alpha-color-bravo:      $alpha-color-bravo    ,
  alpha-color-charlie:    $alpha-color-charlie  ,
  bravo-color:            $bravo-color          ,
  bravo-color-bravo:      $bravo-color-bravo    ,
  bravo-color-charlie:    $bravo-color-charlie  ,
  charlie-color:          $charlie-color        ,
  charlie-color-bravo:    $charlie-color-bravo  ,
  charlie-color-charlie:  $charlie-color-charlie,
  delta-color:            $delta-color          ,
  delta-color-bravo:      $delta-color-bravo    ,
  delta-color-charlie:    $delta-color-charlie  ,
  echo-color:             $echo-color           ,
  echo-color-bravo:       $echo-color-bravo     ,
  echo-color-charlie:     $echo-color-charlie
);


@each $color-name, $color-var in $color-map {
  .#{$color-name} {
    background: $color-var;    
    color: contrast-color($color-var, #222, #fff);    
    text-shadow: 1px 1px 0 contrast-color(contrast-color($color-var, #222, #fff), #fff, #222);
    text-align: center;
    padding: 0.75em;
    width: 31.333333333%;
    height: 6em;
    margin: 0 3% 1.5em 0;
    float: left;


    &:nth-child(3n+3) {
      margin-right: 0;
    }
    
    &:before, &:after {
      content: "$#{$color-name}";
      display: block;
  
      font-family: "FuturaND-Bold", sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: normal;
      font-size: 0.75em;
    }
    &:after {
      content: "#{$color-var}";
    }
  }
}


#main > article {
  padding-top: 0;
  border-top: 0;
}
.showgrid {
  //background: url('/img/grid_16px.png') repeat;
  float: left;
  width: 100%;
  clear: both;
}