@import "reset";

svg {
  width: 100%;
  height: 100%;
}

@import "web-fonts";
@import "colors";
@import "typography";
@import "forms";
@import "buttons-notices";
@import "grid";

#socialLinks {
  margin-bottom: 1.5em;
}

#socialLinks a {
  display: block;
  float: left;
  width: 1em;
  height: 1em;
  border: 0;
  margin-right: 4.190909090909090909%;/* 9/220 */
  margin-bottom: 0.5em;
  color: lighten($alpha-gray, 14);
  font-size: 3em;
  line-height: 1;
  font-family: 'Icons';
  font-style: normal;
  speak: none;

  &:last-child {
    margin-right: 0;
  }

  &:hover, &:active {
    color: $href-hover-color;
  }
}
#socialLinks a span {
  display: none;
}
#email:after {
  content: "\26cd";
}
#twitter:after {
  content: "\26ba";
}
#github:after {
  content: "\26c7";
}
#flickr:after {
  content: "\26c3";
}
#gplus:after {
  content: "\26bd";
}


@import "twitter-feed";

header {
  width: 100%;
  float: left;
  padding: 1.5em 0 0.6em;
  margin-bottom: 1.45em;
  border-bottom: 1px solid $border-color;

  h1 {
    width: 74.468085106382978723%;/* 700/940 */
    float:left;
    font-size: 6.75em;
    margin-bottom: -1.5em;
    line-height: 1;
  }
  a {
    color: lighten($alpha-gray, 14);
    display: inline-block;
    padding-top: 2px;
  }
  h2 {
    width: 23.4104255319148936170%;/* 220/940 */
    float:right;
    text-align: right;
    line-height: 1.33;
    margin: 0 0 0.625em;
    font-size: 1.5em;

    span {
      display: inline-block;
      width: 100%;

      &:last-child {
        display: block;
      }
    }
  }
}


h2 a {
  display: inline-block;
}

article header {
	width: 100%;
	float: none;
	padding: 0;
	margin: 0;
	border: 0;
}
article header h1 {
	width: auto;
	float: none;
	font-size: 3em;
	line-height: 1;
	margin-bottom: 0.5em;
}
article header a {
	color: auto;
	display: inline-block;
	padding: 0;
}
article header h2 {
	width: auto;
	float: none;
	text-align: left;
	font-size: 2em;
	margin-bottom: 0.75em;
	line-height: inherit;
}


footer {
  clear: both;
  width: 100%;
}
nav {
  width: 100%;
  float: left;
}
nav ul {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
nav li {
  display: block;
  float: left;
  margin-right: 2.5em;

  &:last-child {
    margin-right: 0;
  }
}
header nav {
  @extend %secondary-font-family;

  margin-bottom: 0;
}
header nav ul {
  font-size: 2em;
}
header nav a {
  display: inline-block;
}
nav li.page-.home, nav ul ul, nav li.ancestor ul ul {
  display: none;
}


#main {
  @extend %span-9;
}
#sidebar {
  @extend %span-3;

  text-align:center;
  margin-right: 0;
}
.span-half {
  @extend %span-6;

  overflow: auto;
}
.span-half + .span-half {
  margin-right: 0;
}

.pg-work section {
  @extend %span-12;

	margin-bottom:1.5em;
	border-top:1px solid $border-color;
	padding-top:2.95em;

  &:first-of-type {
    border: 0;
    padding: 0;
  }

  h1 {
    @extend %heading-4;
  }

  img {
    float: left;
    -webkit-box-shadow: 1px 2px 4px transparentize($alpha-gray, 0.5);
    box-shadow: 1px 2px 4px transparentize($alpha-gray, 0.5);
    margin-right: 2.857142857142857142%;
    margin-bottom: 1.5em;
    width: 54.29%; /* 380/700 */
  }

  ul {
    @extend %span-4;

    list-style: none;
    padding-left: 0;
    margin-right:0;
  }

  li {
    float: left;
    display: block;
    margin-right: 1.25em;
  }
}

article {
  border-top: 1px solid $border-color;
  padding-top: 1.5em;
  margin-bottom: 1.5em;
  clear: both;
}
article.first {
  border-top: 0;
  padding-top: 0;
}
article.last {
  margin-bottom: 0;
}
article:only-child, article:first-child {
  border-top: 0;
  padding-top: 0;
}
article:last-child {
  margin-bottom: 0;
}

article h1 .date {
  color: $bravo-gray;
  font-size: 0.3em;
}
article .mod_date {
  @extend %secondary-font-family;

  color: $bravo-gray;
  font-size: 0.875em;
  display: block;
  width: 100%;
  line-height: 1.71428571428571428571em;
}

.pg-notes header, .pg-notes header h1, .pg-notes #main {
  float: none;
}
.pg-notes header h1 {
  display: block;
  margin-bottom: 0;
}
.pg-notes header, .pg-notes #main, .resume #main {
  width: 100%;
}

.pg-notes {
  colgroup, tr {
    @extend %background-transition;
  }

  .hover {
    @extend %background-transition;

    background: transparentize($alpha-color-charlie, 0.5);
  }

  th {
    @extend %background-transition;
    cursor: pointer;

    &:active {
      @extend %background-transition;
      background: $bravo-color-bravo;
    }
    &.selected {
      @extend %background-transition;

      background: $bravo-color-charlie;
    }
  }

  tr td:first-child {
    @extend %background-transition;

    cursor: pointer;

    &:active {
      @extend %background-transition;
      background: $charlie-color-bravo;
    }
  }

  .missed {
    background: $delta-color-charlie;
  }

  .warning {
    background: $fox-color-bravo;
  }

  .good {
    background: $bravo-color-charlie;
  }
}


.pg-blog article.link header a:after {
  font-family: 'Icons';
  speak: none;
  padding-left:0.4em;
  content: '\26e2';
}

ol.posts {
  list-style:none;
  padding:0;
}

article.post {
  border-bottom: 1px solid $border-color;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  clear: both;
}
.entry-content img {
  max-width: 100%;
  margin-bottom: 1.5em;
}


@import "clearing";


.pg-readmore pre {
  margin: 0;
}
.pg-readmore .highlight {
  margin-bottom: 1.5em;
}
.pg-readmore #info + [data-readmore-toggle] {
  padding-bottom: 4.5em;
}
.pg-readmore #demo {
  border-top: 1px solid $border-color;
  padding-top: 3em;

  article + a {
    margin-top: -1.5em;
    margin-bottom: 1.5em;
  }
}

.resume {
  header h3 {
    display: none;

    @media print {
      display: block;
      float: left;
      clear: both;
      font-size: 1.45em;
    }
  }

  h3 {
    page-break-after: avoid;
    page-break-before: always;
  }

  .employment {
    page-break-inside: avoid;
  }

  @media print {
    #main h1 {
      display: none;
    }

    .skills ul {
      float: left;
      width: 100%;

      li {
        width: 50%;
        padding-right: 2em;
        float: left;
      }

      & + * {
        float: left;
        width: 100%;
        clear: both;
      }
    }
    .employment {
      clear: both;
    }
  }

}

/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will override.
 */

@media screen and (max-width: 768px) {
	body{
    padding: 0.75em;
	}
	header h1 {
		width: 100%;
		float: none;
	}
	header h1 a {
    display: inline;
	}
	header h2 {
		width: 100%;
		float: none;
		clear: both;
	}
	header nav{
		float: none;
		clear: both;
	}
	nav ul, nav li {
    float: none;
	}
	nav li {
    line-height: 1.5;
	}
	#main, #sidebar  {
		width: 100%;
		float: none;
		clear: both;
	}
	#sidebar {
		padding-top: 1.5em;
		border-top: 1px solid $border-color;
	}
}

@media screen and (max-width: 360px), screen and (max-width:640px) {
  h1 {
    font-size: 2.5em;
  }
  header h1 {
    margin-bottom: 0.1em;
    font-size: 2.75em;
  }
  header h2 {
    text-align: left;
    margin-bottom: 0.75em;
    font-size: 1.25em;
    line-height: 1.5;
  }
  header h2 span {
    display: inline;
  }
  .pg-notes header h1 {
    margin-bottom: 0.1em;
    font-size: 4.5em;
  }
  .pg-work section {
    section h1 {
      font-size: 1.5em;
      line-height: 1;
      margin-bottom: 1em;
    }
    img {
      float: none;
      clear: both;
      margin-right: 0;
      margin-bottom: 1em;
      width: 99%;
    }
    ul {
      float: none;
      clear: both;
      width: 100%;
    }
  }
  .pg-contact form {
    width: 100%;
    float: none;
    clear: both;
    margin-bottom: 1.5em;
  }
  .pg-contact label {
    float: none;
    clear: both;
    width: 100%;
    margin-right: 0;
    text-align: left;
  }
  .pg-contact input, .pg-contact textarea {
    width: 96%;
  }
  .pg-contact button[type="submit"] {
    float: none;
    margin-left: 0;
  }
  .pg-contact .error {
    float: none;
    clear: both;
    margin-left: 0;
    position: relative;
  }
  .pg-contact .message label {
    height: auto;
  }
  .pg-work section li, .pg-contact p.success {
    float: none;
    clear: both;
  }
}

@media screen and (max-width: 480px) {
  .span-half th {
    padding-top: .375em;
    padding-bottom: .375em;
  }
  .pg-notes th {
    font-size: 0.8em;
    line-height: 1.625;
  }

}

@media screen and (min-width: 360px) and (max-width: 480px) {
	header h1 {
		font-size: 4.25em;
	}
	header h2 {
		font-size: 1.5em;
		line-height: 1.5;
	}
  header h2 span:last-child {
    display: inline;
  }
  .pg-work section img {
    margin-bottom: 1.5em;
  }
  .pg-work section ul, .pg-work section li {
    float: left;
    clear: none;
  }

}

@media screen and (min-width: 480px) and (max-width: 560px) {
  header h1 {
    font-size: 4.5em;
  }
  header h2 {
    font-size: 2.5em;
    line-height: 1.33;
  }
  header h2 span:last-child {
    display: block;
  }
  header nav ul {
    font-size: 2.5em;
  }
  .pg-work section img {
    margin-bottom: 1.5em;
  }
  .pg-work section ul, .pg-work section li {
    float: left;
    clear: none;
  }
}

@media screen and (min-width: 560px) and (max-width: 640px) {
  header h1 {
    font-size: 5.5em;
  }
  header h2 {
    font-size: 2.5em;
    line-height: 1.33;
  }

  .pg-work section img {
    margin-bottom: 1.5em;
  }
  .pg-work section ul, .pg-work section li {
    float: left;
    clear: none;
  }

  .pg-contact form {
    width: 100%;
    float: none;
    clear: both;
    margin-bottom: 1.5em;
  }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
  header {
    padding-bottom: 0.75em;
  }
  header h1 {
    width: 74.468085106382978723%;/* 700/940 */
    float: left;
    font-size: 5.25em;
    margin-bottom: -1.5em;
  }
  header h1 a {
    display: inline-block;
    padding-top: 2px;
  }
  header h2 {
    width: 23.4104255319148936170%;/* 220/940 */
    float: right;
    text-align: right;
    line-height: 1.33;
    margin: 0 0 0.625em;
    font-size: 1.2em;
  }
  header h2 span {
    display: inline-block;
    width: 100%;
  }
  header h2 span:last-child {
    display: block;
  }

  nav {
    width: 100%;
    float: left;
    margin-bottom: 1.5em;
  }
  nav ul {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  nav li {
    display: block;
    float: left;
    margin-right: 2.5em;
  }
  header nav {
    margin-bottom: 0;
  }
  header nav ul {
    font-size: 2em;
  }
  header nav a {
    display: inline-block;
  }
  nav li.page-.home, nav ul ul, nav li.ancestor ul ul {
    display: none;
  }
}

@media screen and (min-width: 640px) and (max-width: 740px) {
  header h1 {
    font-size: 5.0em;
  }

  header h2 {
    font-size: 1em;
    line-height: 1.5;
  }
}

@media screen and (min-width: 640px) and (max-width: 696px) {
  header h1 {
    font-size: 4.69em;
  }

  header h2 {
    font-size: 1em;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) and (max-width: 970px) {
  header h1 {
    width: 74.468085106382978723%;/* 700/940 */
    float: left;
    font-size: 5.5em;
    margin-bottom: -1.5em;
  }
  header h2 {
    width: 23.4104255319148936170%;/* 220/940 */
    float:right;
    text-align: right;
    line-height: 1.33;
    margin: 0 0 0.625em;
    font-size: 1.2em;
  }
}

@media screen and (min-width: 768px) {
  .resume .skills {
    display: block;
    float: right;
    width: 23.404255319148936170%;
    margin-left: 2.12765957446808510638%;
  }

  .resume .skills h2 {
    font-size: 1.25em;
    line-height: 1.2;
    margin-bottom: 1.2em;
  }

  .resume .skills ul {
    font-size: .875em;
    line-height: 1.725;
    margin-bottom: 1.725em;
  }

  .resume .skills h3 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 0em;
  }

  .resume .experience {
    display: block;
    float: left;
    width: 74.468085106382978723%;
  }
}

@media screen and (max-width: 767px) {
  .resume .skills ul.columns {
    padding-left: 0.5em;
    list-style-position: inside;
    -moz-column-count: 3;
    -moz-column-gap: 1.5em;
    -webkit-column-count: 3;
    -webkit-column-gap: 1.5em;
    column-count: 3;
    column-gap: 1.5em;
  }
}

@media screen and (max-width: 640px) {
  .span-half {
    float: none;
    width: 100%;
    margin-right: 0%;
  }
}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }
}


/**
 * Print styles.
 */
@media print {
	/* -- HTML5 Boilerplate's print stles -- */
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a, a:visited {
    color: #666 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
    font-size: 50%;

    .print-hide &, header & {
      content: "";
      display: none;
    }
  }

  a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid $border-color;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h1, h2, h3 {
    page-break-after: avoid;
  }

  /* -- Blueprint's print styles -- */
  hr {
    background: $border-color;
    color: $border-color;
    width: 100%;
    height: 2px;
    margin: 2em 0;
    padding: 0;
    border: none;
  }

  code {
    font: .9em "Menlo", Monaco, "Courier New", Courier, monospace;
  }
  header, a img {
    border: none;
  }
  blockquote {
    margin: 1.5em;
    padding: 1em;
    font-style: italic;
    font-size: .9em;
  }
  .print-hide {
    display: block;
  }
  .hide, #sidebar, header nav {
    display: none;
  }
  #main {
    width: 100%;
    margin-right: 0;
  }
  header h1 {
    white-space: nowrap;
    font-size: 5em;
  }
  header a {
    text-decoration: none;
  }
  header h2 {
    font-size: 1.1em;
  }
}
