img(src='/img/portfolio/sites/acms-signup-sm.jpg')

h1
  a(href='http://acms.portfolio.jedfoster.com/scouts/signup') ACMS ATM Location Scouts

p A custom web app. Worked with another designer\'s PSD mockups.

p The app is 90% complete, but the clients decided to shelve the whole project.

ul
  li.PSD Photoshop
  li.HTML HTML
  li.CSS CSS
  li.PHP PHP/MySQL
