img(src='/img/portfolio/sites/captive-audience-v6-sm.jpg')

h1 Captive Audience, v.6

p An original design built with Photoshop/ImageReady.

ul
  li.Design Design
  li.PSD Photoshop
  li.HTML HTML
  li.CSS CSS
  li.JavaScript JavaScript
  li.Refreshed Refreshed, <a href="#captive-audience-v7">newer version</a>
