img(src='/img/portfolio/sites/columbia-sinks-sm.jpg')

h1
  a(href='http://columbiasinks.com') Columbia Sinks

p Built and integrated a custom CMS into the existing site.

ul
  li.HTML HTML
  li.CSS CSS
  li.PHP PHP/MySQL
