img(src='/img/portfolio/sites/east-highlands-dentistry-v1-sm.jpg')

h1 East Highlands Dentistry, v.1

p Customized CSS, based on a template design.

ul
  li.CSS CSS
  li.HTML HTML
  li.Refreshed Refreshed, <a href="#east-highlands-dentistry-v2">newer version</a>
