img(src='/img/portfolio/sites/east-highlands-dentistry-v2-sm.jpg')

h1
  a(href='http://easthighlandsdentistry.com, v.2') East Highlands Dentistry

p Rendered another designer's layout.

ul
  li.PSD Photoshop
  li.HTML HTML
  li.CSS CSS
  li.JavaScript JavaScript
