img(src='/img/portfolio/sites/gcc-edirectory-front-sm.jpg')

h1 Grace Community Church e-Directory

h5 User view

p Integrated a custom member directory web app into the existing site.

ul
  li.HTML HTML
  li.CSS CSS
  li.PHP PHP/MySQL
