img(src='/img/portfolio/sites/gcc-edirectory-back-sm.jpg')

h1 Grace Community Church e-Directory

h5 Administrative view

p Custom directory web app.

ul
  li.HTML HTML
  li.CSS CSS
  li.JavaScript JavaScript
  li.PHP PHP/MySQL
