img(src='/img/portfolio/sites/hssbv-v1-sm.jpg')

h1 Humane Society of San Bernardino Valley, v.1

p Customized CSS, based on a template design.

ul
  li.CSS CSS
  li.HTML HTML
  li.Refreshed Refreshed, <a href="#hssbv-v2">newer version</a>
