img(src='/img/portfolio/sites/hssbv-v2-sm.jpg')

h1
  a(href='http://hssbv.org, v.2') Humane Society of San Bernardino Valley

p An original design. Handcoded HTML5 and CSS3.

ul
  li.Design Design
  li.HTML HTML
  li.CSS CSS
  li.JavaScript JavaScript
  li.PHP PHP
