img(src='/img/portfolio/sites/just-for-fun-sm.jpg')

h1 Just for Fun, v.1

p An original design built with Photoshop/ImageReady.

ul
  li.Design Design
  li.PSD Photoshop
  li.HTML HTML
  li.CSS CSS
  li.PHP PHP/MySQL
  li.e-Commerce e-Commerce
  li.Refreshed Refreshed
