img(src='/img/portfolio/sites/lookingforward-voip-sm.jpg')

h1
  a(href='http://lfvoip.portfolio.jedfoster.com/') Looking Forward VoIP

p An original design. Handcoded HTML and CSS. 

p The business never launched and the site was never more than a mockup.

ul
  li.Design Design
  li.HTML HTML
  li.CSS CSS
