img(src='/img/portfolio/sites/making-every-dollar-count-sm.jpg')

h1
  a(href='http://makingeverydollarcount.ucr.edu') Making Every Dollar Count

p Rendered another designer's layout. Built a mini-CMS to manage over 250 sequential pages and 9 different layouts--in both English and Spanish.

ul
  li.PSD Photoshop
  li.HTML HTML
  li.CSS CSS
  li.JavaScript JavaScript
  li.PHP PHP & YAML
