img(src='/img/portfolio/sites/platinum-circle-solutions-sm.jpg')

h1 Platinum Circle Solutions

p Customized CSS, based on a template design. Installed an open-source CMS.

ul
  li.CSS CSS
  li.HTML HTML
  li.PHP PHP
  li.Refreshed Refreshed, <a href="#platinum-business-strategies">newer version</a>
