img(src='/img/portfolio/sites/platinum-business-strategies-sm.jpg')

h1
  a(href='http://platinumbusinessstrategies.com/') Platinum Business Strategies

p Customized CSS, based on a template design. Installed an open-source CMS.

ul
  li.CSS CSS
  li.HTML HTML
  li.PHP PHP
