img(src='/img/portfolio/sites/riverside-car-show-sm.jpg')

h1
  a(href='http://riversidecarshow.com') Riverside Car Show

p An original layout incorporating another designer's graphics. Handcoded HTML5 and CSS3.

ul
  li.Design Design
  li.HTML5 HTML5
  li.CSS3 CSS3
