img(src='/img/portfolio/sites/riverside-ymca-sm.jpg')

h1 YMCA of Riverside City & County

p An original design based on corporate style guides. Handcoded HTML5 and CSS3. Custom-built CMS.

ul
  li.Design Design
  li.HTML5 HTML5
  li.CSS3 CSS3
  li.JavaScript JavaScript
  li.PHP PHP/MySQL
  li.Closed Closed
