img(src='/img/portfolio/sites/sales-sm.jpg')

h1 Sales

p A custom CRM web app. Captive Audience uses Sales to track new leads through the sales process.

ul
  li.Design Design
  li.HTML HTML
  li.CSS CSS
  li.JavaScript JavaScript
  li.PHP PHP/MySQL
