img(src='/img/portfolio/sites/sassmeister-2.0-sm.png')

h1
  a(href='http://sassmeister.com') SassMeister

p A web app for expirementing with a(href='http://sass-lang.com. Written in Ruby, using Sinatra. Deployed to Heroku.') Sass

ul
  li.Ruby Ruby
  li.HTML5 HTML5
  li.CSS3 CSS3
  li.JavaScript JavaScript
  li.Design Design
  li.GitHub GitHub
