img(src='/img/portfolio/sites/scripts-sm.jpg')

h1 Scripts

p A custom web app for Captive Audience, Scripts allows clients to create and edit advertising on hold scripts and place orders for new productions.

ul
  li.Design Design
  li.HTML HTML
  li.CSS CSS
  li.JavaScript JavaScript
  li.PHP PHP/MySQL
