img(src='/img/portfolio/sites/sw-heart-sm.jpg')

h1
  a(href='http://swheart.com/') Southwest Heart

p Customized CSS, based on a template design. Installed an open-source CMS.

ul
  li.CSS CSS
  li.HTML HTML
  li.PHP PHP
