img(src='/img/portfolio/sites/captive-audience-v7-sm.jpg')

h1 Captive Audience, v.7

p Inspired by a CSS template. Custom graphics. Handcoded HTML and CSS.

ul
  li.Design Design
  li.HTML HTML
  li.CSS CSS
  li.JavaScript JavaScript
  li.Refreshed Refreshed, <a href="#captive-audience-v8">newer version</a>
