img(src='/img/portfolio/sites/roughdraft-2-sm.png')

h1
  a(href='http://www.roughdraft.io') Roughdraft.io

p A micro-publishing platform backed by GitHub Gists. Written in Ruby, using Sinatra. Deployed to Heroku.

ul
  li.Ruby Ruby
  li.HTML5 HTML5
  li.CSS3 CSS3
  li.Design Design
  li.GitHub GitHub
