ul
  li.page-home
    a(href='/') Home
  li.page-work
    a(href='/work') Work
  li.page-code
    a(href='/code') Code
  li.page-blog
    a(href='/blog') Blog
  li.page-contact
    a(href='/contact') Contact
