---
layout: default
title: Style Guide
slug: style-guide
---

:css
  article:first-of-type {
    padding-top: 0;
    border-top: 0;
  }
  .showgrid {
    background: url('/img/grid_16px.png') repeat;
    float: left;
    width: 100%;
    clear: both;
  }


%article#text.showgrid
  :textile
    h1. H1 Futura ND Bold

    h2. H2 Futura ND Bold

    h3. H3 Futura ND Bold

    h4. H4 Futura ND Bold

    h5. H5 Futura ND Bold

    h6. H6 (Undefined)

    ---

    Paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id "est laborum":/.

    * Item
    * Item
    * Item

    # Item
    # Item
    # Item

    |_. Column A |_. Column B |
    |A1          |B1          |
    |A2          |B2          |
    |A3          |B3          |


%article#buttons
  %button
    Button

  %button.positive
    Button.positive

  %button.negative
    Button.negative

  %br{:style => "clear: both;"}

  %a.button
    A.button

  %a.button.positive
    A.button.positive

  %a.button.negative
    A.button.negative


%article#alerts
  .notice
    Notice
    %a Link

  .success
    Success
    %a Link

  .error
    Error
    %a Link

  .info
    Info
    %a Link


%article#notes-tables.showgrid
  :textile
      <div class="span-half">

    h3. Morning

    |_. #497 |_. Sumner |_. Auburn |_. Seattle |_. Train |
    |4:51    |5:12      |5:20      |5:54       |1500     |
    |5:27    |5:47      |5:56      |6:29       |1502     |
    |5:57    |6:17      |6:26      |6:59       |1504     |
    |6:17    |6:37      |6:46      |7:19       |1506     |

      </div>

      <div class="span-half">

    h3. Evening

    |_. Seattle |_. Tukwila |_. Kent  |_. Auburn |_. #497* |_. Sumner |_. Train |
    |3:12       |3:24       |3:31     |3:38      |4:03     |3:47      |1505     |
    |3:42       |3:54       |4:01     |4:08      |--       |4:17      |1507     |
    |4:12       |4:24       |4:31     |4:38      |5:03     |4:48      |1509     |
    |4:32       |4:44       |4:51     |4:58      |5:22     |5:08      |1511     |


    p. *These trips will wait for Sounder connections before departing

      </div>

%article#portfolio-piece.pg-work.showgrid
  %section
    :textile
        !http://assets.jedfoster.com/img/portfolio/sites/roughdraft-2-sm.png!

      h1. "Kitchen Sink":/

      Lorem ipsum dolor sit amet, consectetur adipisicing elit magna aliqua.

      <ul>
        <li class="Ruby">Ruby</li>
        <li class="HTML5">HTML5</li>
        <li class="CSS3">CSS3</li>
        <li class="Design">Design</li>
        <li class="GitHub">GitHub</li>
        <li class="HTML">HTML</li>
        <li class="CSS">CSS</li>
        <li class="JavaScript">JavaScript</li>
        <li class="PSD">PSD</li>
        <li class="Refreshed">Refreshed</li>
        <li class="Closed">Closed</li>
        <li class="e-Commerce">e-Commerce</li>
        <li class="PHP">PHP</li>
      </ul>


%article#blog-post-lists.showgrid
  %section.posts
    %article
      %header
        %time{datetime: "2013-02-22T16:01:00-08:00", class: "published mod_date", pubdate: ""}
          Feb 22, 2013

        %h2
          %a{rel: "bookmark", href: "/blog/unbomb-dot-rake"}
            Standard Blog Post

      %p.entry-summary Flowery summary ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    %article.link
      %header
        %time{datetime: "2013-11-13T00:00:00-08:00", class: "published mod_date", pubdate: ""}
          Nov 13, 2013

        %h2
          %a{rel: "bookmark", href: "http://mattgemmell.com/2012/08/05/managing-email-realistically/"}
            Link Post
      %p Quotable Person:

      %blockquote
        %p Quotey quote ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam consequat.

      %p Commenty comment


%article#colors

  .alpha-gray
    alpha-gray

  .bravo-gray
    bravo-gray

  .charlie-gray
    charlie-gray

  .delta-gray
    delta-gray

  .echo-gray
    echo-gray


  .alpha-color
    alpha-color

  .bravo-color
    bravo-color

  .charlie-color
    charlie-color

  .delta-color
    delta-color

  .echo-color




/ Body text: 696969
/ Anchor: 006EB2
/ Anchor:hover: E7BD36
/ Table heading: c3d9ff
/ zebra: E9E9E9