---
layout: default
title: Style Guide
slug: style-guide
---

:css
  / article {
  /   float: left;
  /   width: 100%;
  /   clear: both;
  /   margin-bottom: 1.5em;
  /   padding-bottom: 1.5em;
  /   border-bottom: 1px solid #666;
  / }
  article:first-of-type {
    padding-top: 0;
    border-top: 0;
  }


%article#text
  :textile
    h1. H1 Futura ND Bold

    h2. H2 Futura ND Bold

    h3. H3 Futura ND Bold

    h4. H4 Futura ND Bold

    h5. H5 Futura ND Bold

    h6. H6 Futura ND Bold

    Paragraph: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id "est laborum":/ .

    * Item
    * Item
    * Item

    # Item
    # Item
    # Item

    |_. Column A |_. Column B |
    |A1          |B1          |
    |A2          |B2          |
    |A3          |B3          |


%article#buttons
  %button
    Button

  %button.positive
    Button.positive

  %button.negative
    Button.negative

  %br{:style => "clear: both;"}

  %a.button
    A.button

  %a.button.positive
    A.button.positive

  %a.button.negative
    A.button.negative


%article#alerts
  .notice
    Notice
    %a Link

  .success
    Success
    %a Link

  .error
    Error
    %a Link

  .info
    Info
    %a Link


%article#widgets.pg-work
  %section
    :textile
        !http://assets.jedfoster.com/img/portfolio/sites/roughdraft-2-sm.png!

      h1. "Kitchen Sink":/

      Lorem ipsum dolor sit amet, consectetur adipisicing elit magna aliqua.

      <ul>
        <li class="Ruby">Ruby</li>
        <li class="HTML5">HTML5</li>
        <li class="CSS3">CSS3</li>
        <li class="Design">Design</li>
        <li class="GitHub">GitHub</li>
        <li class="HTML">HTML</li>
        <li class="CSS">CSS</li>
        <li class="JavaScript">JavaScript</li>
        <li class="PSD">PSD</li>
        <li class="Refreshed">Refreshed</li>
        <li class="Closed">Closed</li>
        <li class="e-Commerce">e-Commerce</li>
        <li class="PHP">PHP</li>
      </ul>

%article#colors

  .alpha-gray
    alpha-gray
  
  .bravo-gray
    bravo-gray

  .charlie-gray
    charlie-gray
    
  .delta-gray
    delta-gray
    
  .echo-gray
    echo-gray


  .alpha-color
    alpha-color

  .bravo-color
    bravo-color
    
  .charlie-color
    charlie-color
    
  .delta-color
    delta-color
    
  .echo-color




/ Body text: 696969
/ Anchor: 006EB2
/ Anchor:hover: E7BD36
/ Table heading: c3d9ff
/ zebra: E9E9E9