
.published {
  @extend %secondary-font-family;

  color: $bravo-gray;
  font-size: 0.875em;
  display: block;
  width: 100%;
  line-height: 1.71428571428571428571em;
}

.pg-blog article.link header a:after {
  font-family: 'Icons';
  speak: none;
  padding-left:0.4em;
  content: '\26e2';
}

.posts {
  list-style:none;
  padding:0;
}

.post {
  border-bottom: 1px solid $border-color;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  clear: both;

  img {
    max-width: 100%;
    margin-bottom: 1.5em;
  }
}

