/* buttons & notices */
a.button, button {
  @extend %secondary-font-family;

  display: inline-block;
  margin: 0 0.5em 1.2em 0;
  padding: 0.55em 0.5em 0.25em;
  border: 1px solid $border-color;
  background-color: $charlie-gray;
  font-size: 100%;
  line-height: 1;
  text-decoration: none;
  color: $alpha-gray;
  cursor: pointer;
  text-shadow: 1px 1px 0 $charlie-gray;
  text-shadow: 1px 1px 0 transparentize($white, 0.2);
}
a.button.inline, button.inline {
  display: inline-block;
  float: none;
}
button img, a.button img {
  display: inline;
  margin: -2px 0.25em -2px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}
button:hover, a.button:hover {
  background-color: $alpha-color-charlie;
  border: 1px solid $alpha-color-bravo;
  color: $alpha-color;
}
.error,.notice,.success,.info {
  padding: 0.7em 0.75em;
  margin-bottom: 1.5em;
  border: 1px solid;
  font-weight: bold;
}
.error, body .negative, a.negative:hover {
  color: $delta-color;
}
.error, a.negative:hover, button.negative:hover {
  background-color: $delta-color-charlie;
  border-color: $delta-color-bravo;
}
.notice {
  background: $charlie-color-charlie;
  color: $charlie-color;
  border-color: $charlie-color-bravo;
}
.success, body .positive, a.positive:hover {
  color: $bravo-color;
}
.success, a.positive:hover, button.positive:hover {
  background: $bravo-color-charlie;
  border-color: $bravo-color-bravo;
}
.info {
  background: $echo-color-charlie;
  color: $echo-color;
  border-color: $echo-color-bravo;
}
.error a,.notice a,.success a,.info a {
  color: $delta-color;
  text-decoration: underline;
}
.notice a {
  color: $charlie-color;
}
.success a {
  color: #264409;
}
.info a {
  color: $echo-color;
}
a.button:active, button:active {
  background-color: $alpha-color;
  border-color: $alpha-color;
  color: $white;
  text-shadow: 1px 1px 0 $alpha-gray;
  text-shadow: 1px 1px 0 transparentize($alpha-gray, 0.2); //rgba(68, 68, 68, 0.7);
}
a.positive:active, button.positive:active {
  background-color: $bravo-color;
  border-color: $bravo-color;
}
a.negative:active, button.negative:active {
  background-color: $delta-color;
  border-color: $delta-color;
}
