// Currently unused

#campfire {
  background: url('/img/campfire-desaturated.png') no-repeat scroll top left;
  width: 58px;
  height: 48px;
  display: block;
  float: left;
  margin: 0 1.5em 1.5em 0;
  img{
	  filter:alpha(opacity=15);
  			 -moz-opacity: 0.15;
  						opacity: 0.15;
  	-webkit-transition: opacity 0.3s ease;
  	   -moz-transition: opacity 0.3s ease;
  	     -o-transition: opacity 0.3s ease;
  	        transition: opacity 0.3s ease;
  }

  &:hover img, &:active img{
  	filter:alpha(opacity=85);
  			 -moz-opacity: 0.85;
  						opacity: 0.85;
  }
}