$white:                 #ffffff;

// GRAY
$alpha-gray:            #696969;
$bravo-gray:            #d1d1d1;
$charlie-gray:          #f5f5f5;

// BLUE
$alpha-color:           #006EB2;
$alpha-color-bravo:     #c2e1ef;
$alpha-color-charlie:   #dff4ff;

// GREEN
$bravo-color:           #529214;
$bravo-color-bravo:     #c6d880;
$bravo-color-charlie:   #e6efc2;

// YELLOW
$charlie-color:         #7d6122;
$charlie-color-bravo:   #ffd324;
$charlie-color-charlie: #fff6bf;

// RED
$delta-color:           #bc1914;
$delta-color-bravo:     #fbc2c4;
$delta-color-charlie:   #fbe3e4;

// PURPLE
$echo-color:            #663ea1;
$echo-color-bravo:      #bfb6db;
$echo-color-charlie:    #ece4fb;


$fox-color:          mix($charlie-color-bravo, $delta-color-charlie); //#f7760c;
$fox-color-bravo:    mix($charlie-color-charlie, $delta-color-charlie); //#ffb885;
$fox-color-charlie:  lighten(mix($charlie-color-charlie, $delta-color-charlie, 70%), 5%); //#ffdcbd;



$href-color:            $alpha-color;
$href-hover-color:      $charlie-color-bravo;

$border-color:          $bravo-gray;
