.pg-contact form {
  margin-bottom: 1.5em;
}
.pg-contact label {
  display: block;
}
.pg-contact input {
  @extend %span-3;

  font-size:0.95em;
}
.pg-contact textarea {
  @extend %span-6;
}
.pg-contact button[type="submit"] {
  margin-left: 34.285714285714285714%;/* 240/700 */
}
.pg-contact button[type="submit"] img {
  width: 1em;
  max-width: 48px;
}
.pg-contact .error {
  float: left;
  font-size: 0.75em;
  margin-left: 1em;
  position: absolute;
  z-index: 1000;
}
.pg-contact .message label {
  height: 100px;
}
.pg-contact .message .error {
  position: relative;
  margin-left: 0;
}
.pg-contact p.success {
  width: 96.3%;
  float: left;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 360px), screen and (max-width:640px) {
  .pg-contact form {
    width: 100%;
    float: none;
    clear: both;
    margin-bottom: 1.5em;
  }
  .pg-contact label {
    float: none;
    clear: both;
    width: 100%;
    margin-right: 0;
    text-align: left;
  }
  .pg-contact input, .pg-contact textarea {
    width: 96%;
  }
  .pg-contact button[type="submit"] {
    float: none;
    margin-left: 0;
  }
  .pg-contact .error {
    float: none;
    clear: both;
    margin-left: 0;
    position: relative;
  }
  .pg-contact .message label {
    height: auto;
  }
  .pg-contact p.success {
    float: none;
    clear: both;
  }
}

@media screen and (min-width: 560px) and (max-width: 640px) {
  .pg-contact form {
    width: 100%;
    float: none;
    clear: both;
    margin-bottom: 1.5em;
  }

}
