.pg-notes main {
  @extend %full-width-main;
}

.pg-notes header h1 {
  margin-bottom: 0;
}

.pg-notes {
  colgroup, tr {
    @extend %background-transition;
  }

  .hover {
    @extend %background-transition;

    background: transparentize($alpha-color-charlie, 0.5);
  }

  th {
    @extend %background-transition;
    cursor: pointer;

    &:active {
      @extend %background-transition;
      background: $bravo-color-bravo;
    }
    &.selected {
      @extend %background-transition;

      background: $bravo-color-charlie;
    }
  }

  tr td:first-child {
    @extend %background-transition;

    cursor: pointer;

    &:active {
      @extend %background-transition;
      background: $charlie-color-bravo;
    }
  }

  .missed {
    background: $delta-color-charlie;
  }

  .warning {
    background: $fox-color-bravo;
  }

  .good {
    background: $bravo-color-charlie;
  }

  p:last-child {
    @extend .clear;
    @extend .small;
  }
}

@media screen and (max-width:640px) {
  .pg-notes header h1 {
    margin-bottom: 0.1em;
    font-size: 4.5em;
  }
}

@media screen and (max-width: 480px) {
  .pg-notes th {
    font-size: 0.8em;
    line-height: 1.625;
  }
}

