.pg-resume main {
  @extend %full-width-main;
}

.pg-resume {
  header h3 {
    display: none;

    @media print {
      display: block;
      float: left;
      clear: both;
      font-size: 1.45em;
    }
  }

  h3 {
    page-break-after: avoid;
    page-break-before: always;
  }

  .employment {
    page-break-inside: avoid;
  }

  @media print {
    main h1 {
      display: none;
    }

    .skills ul {
      float: left;
      width: 100%;

      li {
        width: 50%;
        padding-right: 2em;
        float: left;
      }

      & + * {
        float: left;
        width: 100%;
        clear: both;
      }
    }
    .employment {
      clear: both;
    }
  }



  @media screen and (min-width: 768px) {
    .skills {
      display: block;
      float: right;
      width: 23.404255319148936170%;
      margin-left: 2.12765957446808510638%;
    }

    .skills h2 {
      font-size: 1.25em;
      line-height: 1.2;
      margin-bottom: 1.2em;
    }

    .skills ul {
      font-size: .875em;
      line-height: 1.725;
      margin-bottom: 1.725em;
    }

    .skills h3 {
      font-size: 1em;
      font-weight: bold;
      line-height: 1.5;
      margin-bottom: 0em;
    }

    .experience {
      display: block;
      float: left;
      width: 74.468085106382978723%;
    }
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    // Column-ify only the first 2 lists.
    .skills ul:nth-of-type(-n+2) {
      padding-left: 0.5em;
      list-style-position: inside;
      -moz-column-count: 3;
      -moz-column-gap: 1.5em;
      -webkit-column-count: 3;
      -webkit-column-gap: 1.5em;
      column-count: 3;
      column-gap: 1.5em;
    }
  }
}
