#twttr {
  text-align: center;
  float: left;
  width: 100%;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
  
  h1 {
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 1em;
  }
  iframe {
    width: 100%;
    margin: 0 auto
  }
}
