@font-face {
	font-family: 'FuturaND-Bold';
	src: url('/fonts/FuturaND-Bold.eot');
	src: url('/fonts/FuturaND-Bold.eot?#iefix') format('embedded-opentype'),
			 url('/fonts/FuturaND-Bold.woff') format('woff'),
			 url('/fonts/FuturaND-Bold.ttf') format('truetype'),
			 url('/fonts/FuturaND-Bold.svg#FuturaND-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
  font-variant: normal;
}

@font-face {
	font-family: 'DejaVuSerifBook';
	src: url('/fonts/DejaVu-Serif.eot');
	src: url('/fonts/DejaVu-Serif.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/DejaVu-Serif.woff') format('woff'),
	     url('/fonts/DejaVu-Serif.ttf') format('truetype'),
	     url('/fonts/DejaVu-Serif.svg#DejaVuSerifBook') format('svg');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

%secondary-font-family {
  font-family: "FuturaND-Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
}

