@font-face {
	font-family: 'FuturaND-Bold';
	src: url('/fonts/FuturaND-Bold.eot');
	src: url('/fonts/FuturaND-Bold.eot?#iefix') format('embedded-opentype'),
			 url('/fonts/FuturaND-Bold.woff') format('woff'),
			 url('/fonts/FuturaND-Bold.ttf') format('truetype'),
			 url('/fonts/FuturaND-Bold.svg#FuturaND-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
  font-variant: normal;
}

@font-face {
	font-family: 'DejaVuSerifBook';
	src: url('/fonts/DejaVu-Serif.eot');
	src: url('/fonts/DejaVu-Serif.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/DejaVu-Serif.woff') format('woff'),
	     url('/fonts/DejaVu-Serif.ttf') format('truetype'),
	     url('/fonts/DejaVu-Serif.svg#DejaVuSerifBook') format('svg');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

@font-face {
	font-family: 'Icons';
	src: url('/fonts/Icons.eot');
	src: url('/fonts/Icons.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Icons.woff') format('woff'),
		url('/fonts/Icons.ttf') format('truetype'),
		url('/fonts/Icons.svg#Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}


%secondary-font-family {
  font-family: "FuturaND-Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
}


%icon-font {
  display: inline-block;
  min-width: 1em;

  &:before {
    @extend %icon-pseudo-content;

    padding-right: 0.5em;
  }
  &:after {
    @extend %icon-pseudo-content;

    padding-left: 0.5em;
  }
  &:hover {
    text-decoration: none;
  }
  .alt {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 1px;
    height: 1px;
  }
}


%icon-pseudo-content {
  font-size: 0.8125em;
  font-family: 'Icons';
	font-style: normal;
	line-height: 1;
	vertical-align: baseline;
	speak: none;
  -webkit-font-smoothing: antialiased;
}

.Design {
  @extend %icon-font;

  &:before {
  	content: "\26cf";
  }
}
.HTML {
  @extend %icon-font;

  &:before {
  	content: "\26d0";
  }
}
.HTML5 {
  @extend %icon-font;

  &:before {
    content: "\26de";
  }
}
.CSS {
  @extend %icon-font;

  &:before {
  	content: "\26d1";
  }
}
.CSS3 {
  @extend %icon-font;

  &:before {
    content: "\26e0";
  }
}
.JavaScript {
  @extend %icon-font;

  &:before {
  	content: "\26d2";
  }
}
.PSD {
  @extend %icon-font;

  &:before {
  	content: "\26dc";
  }
}
.Refreshed {
  @extend %icon-font;

  &:before {
  	content: "\26d8";
  }
}
.Closed {
  @extend %icon-font;

  &:before {
  	content: "\26d9";
  }
}
.e-Commerce {
  @extend %icon-font;

  &:before {
    content: "\26db";
  }
}
.PHP {
  @extend %icon-font;

  &:before {
  	content: "\e001";
  }
}

@import 'data/index';


.Ruby {
  // @extend %icon-font;

  // &:before {
  // 	content: "\e000";
  // }

  background: url(#{$ruby-data-uri});
}
.GitHub {
  @extend %icon-font;

  &:before {
    content: "\26ca";
  }
}

.fork {
  @extend %icon-font;

  &:after {
	  content: "\26cc";
	}
}
