.pg-work section {
  @extend %span-12;

	margin-bottom:1.5em;
	border-top:1px solid $border-color;
	padding-top:2.95em;

  &:first-of-type {
    border: 0;
    padding: 0;
  }

  h1 {
    @extend %heading-4;
  }

  img {
    float: left;
    -webkit-box-shadow: 1px 2px 4px transparentize($alpha-gray, 0.5);
    box-shadow: 1px 2px 4px transparentize($alpha-gray, 0.5);
    margin-right: 2.857142857142857142%;
    margin-bottom: 1.5em;
    width: 54.29%; /* 380/700 */
  }

  ul {
    @extend %span-4;

    list-style: none;
    padding-left: 0;
    margin-right:0;
  }

  li {
    float: left;
    display: block;
    margin-right: 1.25em;
  }
}

@media screen and (max-width:640px) {
  .pg-work section {
    section h1 {
      font-size: 1.5em;
      line-height: 1;
      margin-bottom: 1em;
    }
    img {
      float: none;
      margin-right: 0;
      width: 100%;
    }
    ul, li {
      float: none;
    }
  }
}

