@import "reset";

svg {
  max-width: 100%;
  height: 100%;
}

@import "web-fonts";
@import "colors";
@import "typography";
@import "forms";
@import "buttons-notices";
@import "grid";
@import "nav";
@import 'icons';

#socialLinks {
  @extend %nav;
  @extend %clearfix;

  margin-bottom: 1.5em;

  a {
    width: (100% - (4.190909090909090909 * 3)) / 4;
    height: 3em;
    border: 0;
    margin-right: 4.190909090909090909%;/* 9/220 */
    display: block;
    float: left;

    &:hover, &:active {
      svg {
        fill: $href-hover-color;
      }
    }
  }

  svg {
    @extend %background-transition;

    fill: lighten($alpha-gray, 14);
  }
}


@import "twitter-feed";

header {
  @extend %clearfix;

  width: 100%;
  
  padding: 1.5em 0 0.6em;
  margin-bottom: 1.45em;
  border-bottom: 1px solid $border-color;

  a {
    color: lighten($alpha-gray, 14);
    display: inline-block;
    padding-top: 2px;
  }

  svg {
    fill: $alpha-gray;
    font-family: "FuturaND-Bold", sans-serif;

    a {
      @extend %background-transition;

      fill: lighten($alpha-gray, 14);
      cursor: pointer;

      &:hover {
        fill: $href-hover-color;
      }
    }
  }
}


article header {
	padding: 0;
	margin: 0;
	border: 0;
}

article header a {
	padding: 0;
}

header nav {
  @extend %secondary-font-family;
  @extend %nav;

  font-size: 2em;

  .page-home {
    display: none;
  }
}

main {
  @extend %span-9;
}
#sidebar {
  @extend %span-3;

  text-align:center;
  margin-right: 0;
}
.span-half {
  @extend %span-6;

  overflow: auto;

  @media screen and (max-width:640px) {
    float: none;
    width: 100%;
    margin-right: 0%;
  }
}
.span-half + .span-half {
  margin-right: 0;
}

.pg-work section {
  @extend %span-12;

	margin-bottom:1.5em;
	border-top:1px solid $border-color;
	padding-top:2.95em;

  &:first-of-type {
    border: 0;
    padding: 0;
  }

  h1 {
    @extend %heading-4;
  }

  img {
    float: left;
    -webkit-box-shadow: 1px 2px 4px transparentize($alpha-gray, 0.5);
    box-shadow: 1px 2px 4px transparentize($alpha-gray, 0.5);
    margin-right: 2.857142857142857142%;
    margin-bottom: 1.5em;
    width: 54.29%; /* 380/700 */
  }

  ul {
    @extend %span-4;

    list-style: none;
    padding-left: 0;
    margin-right:0;
  }

  li {
    float: left;
    display: block;
    margin-right: 1.25em;
  }
}

article {
  @extend %clearfix;

  border-top: 1px solid $border-color;
  padding-top: 1.5em;
  margin-bottom: 1.5em;
}

article:only-child, article:first-child {
  border-top: 0;
  padding-top: 0;
}
article:last-child {
  margin-bottom: 0;
}

article .mod_date {
  @extend %secondary-font-family;

  color: $bravo-gray;
  font-size: 0.875em;
  display: block;
  width: 100%;
  line-height: 1.71428571428571428571em;
}

.pg-notes header, .pg-notes header h1, .pg-notes main {
  float: none;
}
.pg-notes header h1 {
  display: block;
  margin-bottom: 0;
}
.pg-notes header, .pg-notes main, .pg-resume main {
  width: 100%;
}

.pg-notes {
  colgroup, tr {
    @extend %background-transition;
  }

  .hover {
    @extend %background-transition;

    background: transparentize($alpha-color-charlie, 0.5);
  }

  th {
    @extend %background-transition;
    cursor: pointer;

    &:active {
      @extend %background-transition;
      background: $bravo-color-bravo;
    }
    &.selected {
      @extend %background-transition;

      background: $bravo-color-charlie;
    }
  }

  tr td:first-child {
    @extend %background-transition;

    cursor: pointer;

    &:active {
      @extend %background-transition;
      background: $charlie-color-bravo;
    }
  }

  .missed {
    background: $delta-color-charlie;
  }

  .warning {
    background: $fox-color-bravo;
  }

  .good {
    background: $bravo-color-charlie;
  }

  p:last-child {
    @extend .clear;
    @extend .small;
  }
}


.pg-blog article.link header a:after {
  font-family: 'Icons';
  speak: none;
  padding-left:0.4em;
  content: '\26e2';
}

ol.posts {
  list-style:none;
  padding:0;
}

article.post {
  border-bottom: 1px solid $border-color;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  clear: both;
}
.entry-content img {
  max-width: 100%;
  margin-bottom: 1.5em;
}


@import "clearing";


.pg-readmore pre {
  margin-bottom: 1.5em;
}
.pg-readmore #info + [data-readmore-toggle] {
  padding-bottom: 4.5em;
}
.pg-readmore #demo {
  border-top: 1px solid $border-color;
  padding-top: 3em;

  article + a {
    margin-top: -1.5em;
    margin-bottom: 1.5em;
  }
}

@import 'resume';

/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will override.
 */

@media screen and (max-width: 768px) {
	header nav{
    font-size: 1.75em;
	}
	main, #sidebar  {
		width: 100%;
		float: none;
		clear: both;
	}
	#sidebar {
		padding-top: 1.5em;
		border-top: 1px solid $border-color;
	}
}

@media screen and (max-width:640px) {
  h1 {
    font-size: 2.5em;
  }
  header nav {
    font-size: 1.5em;
  }
  .pg-notes header h1 {
    margin-bottom: 0.1em;
    font-size: 4.5em;
  }
  .pg-work section {
    section h1 {
      font-size: 1.5em;
      line-height: 1;
      margin-bottom: 1em;
    }
    img {
      float: none;
      margin-right: 0;
      width: 100%;
    }
    ul, li {
      float: none;
    }
  }
}

@media screen and (max-width: 480px) {
  .pg-notes th {
    font-size: 0.8em;
    line-height: 1.625;
  }
}


/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }
}


/**
 * Print styles.
 */
@media print {
	/* -- HTML5 Boilerplate's print stles -- */
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a, a:visited {
    color: #666 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
    font-size: 50%;

    .print-hide &, header & {
      content: "";
      display: none;
    }
  }

  a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid $border-color;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h1, h2, h3 {
    page-break-after: avoid;
  }

  /* -- Blueprint's print styles -- */
  hr {
    background: $border-color;
    color: $border-color;
    width: 100%;
    height: 2px;
    margin: 2em 0;
    padding: 0;
    border: none;
  }

  code {
    font: .9em "Menlo", Monaco, "Courier New", Courier, monospace;
  }
  header, a img {
    border: none;
  }
  blockquote {
    margin: 1.5em;
    padding: 1em;
    font-style: italic;
    font-size: .9em;
  }
  .print-hide {
    display: block;
  }
  .hide, #sidebar, header nav {
    display: none;
  }
  main {
    width: 100%;
    margin-right: 0;
  }
}
