%futura
  font-family: $heading-font-family
  text-transform: uppercase
  letter-spacing: 1px

%heading-1
  text-transform: uppercase
  letter-spacing: 1px
  line-height: 1.25
  margin-bottom: 0.25em

%heading-2

%heading-3
  line-height: 1.5
  margin-bottom: 0.5em

%heading-4
  line-height: 1.5
  margin-bottom: 0.99em

%heading-5
  line-height: 1.5
  margin-bottom: 1.5em

%heading-6

%background-transition
  $transition-properties: background-color, border-color, color, text-shadow, fill

  -webkit-transition-duration: 0.25s
  -webkit-transition-timing-function: ease
  -webkit-transition-property: $transition-properties

  transition-duration: 0.25s
  transition-timing-function: ease
  transition-property: $transition-properties


%tablet-full-width
  @media screen and (max-width: 768px)
    @include clearfix

    width: 100%
    float: none

