/* default grid */
html
  padding: 0 1.25em


body
  width: 100%
  margin: 0 auto
  max-width: em($grid-max-width)


th
  font-weight: normal
  text-align: left

th, td
  padding: .375em .75em

tbody tr:nth-child(even):last-child
  td
    padding-bottom: 1.2em


a, button
  @extend %background-transition

  cursor: pointer

header
  a
    color: lighten($gray-1, 14)

    &:hover, &:active
      text-decoration: none

a
  &:focus, 
  &:hover,
  &:active
    color: $link-hover-color

a.button, button
  @extend %futura
  @extend %button
  
  &.negative
    @include button($error-buttons)
  
  &.positive
    @include button($success-buttons)

time
  @extend %futura

  font-size: 0.75em
  line-height: 1.7
  color: $gray-2

