extends ../_layout.jade

block css
  link(rel='stylesheet' href='/css/audio.css')

block javascript
  script(src='/js/audio-wp.js')

  script.
    // Run the script on page load.

    // If using jQuery
    // $(function(){
    //   AudioJS.setup();
    // })

    // If using Prototype
    // document.observe("dom:loaded", function() {
    //   AudioJS.setup();
    // });

    // If not using a JS library
    // window.onload = function(){
    //
    // }

    // Since I'm calling this at the end of the HTML, I can probably get away
    // with executing the setup without waiting for a load event.
    AudioJS.setup();

block navigation
  != partial('../_navigation')

block sidebar
  != partial('../_sidebar')

