@import '../data/index';

@each $placeholder, $content in $data-uris {
  %#{$placeholder}-icon {

    @each $value in $content {
      @extend %data-uri-icon;

      background: url(#{$value}) no-repeat left center;
    }
  }
}

%data-uri-icon {
  background-size: 1em;
  padding-left: 1.5em;
}

$classes: (
  'Design',
  'HTML',
  'HTML5',
  'CSS',
  'CSS3',
  'JavaScript',
  'PSD',
  'Refreshed',
  'Closed',
  'e-Commerce',
  'PHP',
  'Ruby',
  'GitHub'
);

@each $class in $classes {
  .#{$class} {
    @extend %#{to-lower-case($class)}-icon;
  }
}

