/* forms */
label {
  @extend %heading-5;
  
  display: block;
  margin-bottom: 0;
}
fieldset {
  padding: 1.5em 1em;
  margin: 0 0 1.5em 0;
  border: 1px solid $border-color;
}
legend {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: -0.2em;
  margin-bottom: 1em;
}
fieldset {
  padding-top: 1.4em;
}
legend {
  margin-top: 0;
  margin-bottom: 0;
}
input, textarea, select {
  background: transparentize($white, 0.3);
  font-size: 0.85em;
  border: 1px solid $border-color;
  width: 100%;
  margin: 0 0 1.7em;
  padding: 0.25em;
  
  &:focus {
    border-color: transparentize($alpha-color, 0.1);
    -webkit-box-shadow: 0 0 0.5em transparentize($alpha-color, 0.5);
    box-shadow: 0 0 0.5em transparentize($alpha-color, 0.5);
  }
}
select {
  height: 1.85em;
  vertical-align: top;
}

textarea {
  display: block;
  height: 7em;
}
form p {
  margin-bottom: 1.42em;
}
// form.inline {
//   line-height: 3;
// }
// form.inline p {
//   margin-bottom: 0;
// }
// form.inline button {
//   float: none;
//   display: inline;
// }
