/* reset */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


html {
  margin: 0;
  padding: 0;
  border: 0;
}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section, img, video {
  display: block;
}
body {
  min-height: 100%;
  line-height: 1.5;
  background: white;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  font-size: inherit;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important;
}
table, th, td {
  vertical-align: bottom;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
}
blockquote, q {
  quotes: "" "";
}
a img {
  border: none;
}
:focus {
  outline: 0;
}
/* Bicubic resizing for non-native sized IMG: code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
