/* Colors */
/*
  Body text: 696969
  Anchor: 006EB2
  Anchor:hover: E7BD36
  Table heading: c3d9ff
  zebra: E9E9E9

  button {
    border: 1px solid #afafaf;
    border-top-color: #d1d1d1;
    border-left-color: #d1d1d1;
    background-color: #f5f5f5;
    color: #565656;
  }

  button:hover {
    background-color: #dff4ff;
    border: 1px solid #c2e1ef;
    color: #336699;
  }
    button:active {
      background-color: #6299c5;
      border-color: #6299c5;
      color: #fff;
    }

  .error {
    background-color: #fbe3e4;
    border-color: #fbc2c4;
    color: #8a1f11;
  }
    .negative:active {
      background-color: #d12f19;
      border-color: #d12f19;
    }

  .notice {
    background: #fff6bf;
    color: #7D6122;
    border-color: #ffd324;
  }

  .success, a.positive:hover, button.positive:hover {
    background: #e6efc2;
    border-color: #c6d880;
    color: #529214;
  }
    .positive:active {
      background-color: #529214;
      border-color: #529214;
    }

  .info {
    background: #d5edf8;
    color: #205791;
    border-color: #92cae4;
  }
*/




@import "reset";
@import "web-fonts";
@import "typography";

.added {
  background: #060;
  color: #fff;
}
.removed {
  background: #900;
  color: #fff;
}
.first {
  margin-left: 0;
  padding-left: 0;
}
.last {
  margin-right: 0;
  padding-right: 0;
}
.top {
  margin-top: 0;
  padding-top: 0;
}
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}


@import "forms";
@import "buttons-notices";
@import "grid";


#socialLinks {
  margin-bottom: 1.5em;
}

#socialLinks a {
  display: block;
  float: left;
  width: 1em;
  height: 1em;
  border: 0;
  margin-right: 4.190909090909090909%;/* 9/220 */
  margin-bottom: 0.5em;
  color: #999;
  font-size: 3em;
  line-height: 1;
  font-family: 'Icons';
  font-style: normal;
  speak: none;
}
#socialLinks a span {
  display: none;
}

#socialLinks a.last {
  margin-right: 0;
}
a#email:after {
  content: "\26cd";
}
a#twitter:after {
  content: "\26ba";
}
a#github:after {
  content: "\26c7";
}
a#flickr:after {
  content: "\26c3";
}
a#gplus:after {
  content: "\26bd";
}
#socialLinks a:hover,#socialLinks a:active {
  color: #E7BD36;
}


@import "twitter-feed";

header {
	width: 100%;
	float: left;
	padding: 1.5em 0 0.6em;
	margin-bottom: 1.45em;
	border-bottom: 1px solid #b7b7b7;
}
header h1 {
	width: 74.468085106382978723%;/* 700/940 */
	float:left;
	font-size: 6.75em;
	margin-bottom: -1.5em;
}
header a {
	color: #999;
	display: inline-block;
	padding-top: 2px;
}
header h2 {
	width: 23.4104255319148936170%;/* 220/940 */
	float:right;
	text-align: right;
	line-height: 1.33;
	margin: 0 0 0.625em;
	font-size: 1.5em;
}
header h2 span {
	display: inline-block;
	width: 100%;
}
header h2 span:last-child {display: block;}




article header {
	width: 100%;
	float: none;
	padding: 0;
	margin: 0;
	border: 0;
}
article header h1 {
	width: auto;
	float: none;
	font-size:3em;line-height:1;margin-bottom:0.5em;
}
article header a {
	color: auto;
	display: inline-block;
	padding: 0;
}
article header h2 {
	width: auto;
	float: none;
	text-align: left;
	font-size:2em;margin-bottom:0.75em;
	line-height: inherit;
}


footer {
  clear: both;
  width: 100%;
}
nav {
  width: 100%;
  float: left;
}
nav ul {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
nav li {
  display: block;
  float: left;
  margin-right: 2.5em;
}
header nav {
  margin-bottom: 0;
}
header nav ul {
  font-size: 2em;
}
header nav a {
  display: inline-block;
}
nav li.page-.home, nav ul ul, nav li.ancestor ul ul {
  display: none;
}


#main {
  @extend %span-9;
}
#sidebar {
  @extend %span-3;

  text-align:center;
  margin-right: 0;
}
#main .span-half {
  @extend %span-6;

  overflow-y: scroll
}
#main .span-half + .span-half {
  margin-right: 0;
}

.pg-work section {
  @extend %span-12;

	margin-bottom:1.5em;
	border-top:1px solid #b7b7b7;
	padding-top:2.95em;

  &:first-of-type {
    border: 0;
    padding: 0;
  }

  h1 {
    font-size: 1.2em;
    line-height: 1.3;
    margin-bottom: 1.3em;
  }

  img {
    float: left;
    -webkit-box-shadow: 1px 2px 4px rgba(33, 33, 33, 0.55);
    box-shadow: 1px 2px 4px rgba(33, 33, 33, 0.55);
    margin-right: 2.857142857142857142%;
    margin-bottom: 1.5em;
    width: 54.29%; /* 380/700 */
  }

  ul {
    @extend %span-4;
    
    list-style: none;
    padding-left: 0;
    margin-right:0;
  }

  li {
    float: left;
    display: block;
    margin-right: 1.25em;

    &:before {
      @extend %icon-font;
    }
  }
}




.fork:after {
  @extend %icon-font;

	content: "\26cc";
	padding-left:0.4em;
}






.pg-contact form {
  @extend %span-12;
  
  margin-bottom: 1.5em;
}
.pg-contact label {
  @extend %span-3;

  display: block;
  text-align:right;
}
.pg-contact input {
  @extend %span-3;

  font-size:0.95em;
}
.pg-contact textarea {
  @extend %span-6;

  //  width: 64.285714285714285714%;/* 450/700 */
}
.pg-contact button[type="submit"] {
  margin-left: 34.285714285714285714%;/* 240/700 */
}
.pg-contact button[type="submit"] img {
  width: 1em;
  max-width: 48px;
}
.pg-contact .error {
  float: left;
  font-size: 0.75em;
  margin-left: 1em;
  position: absolute;
  z-index: 1000;
}
.pg-contact .message label {
  height: 100px;
}
.pg-contact .message .error {
  position: relative;
  margin-left: 0;
}
.pg-contact p.success {
  width: 96.3%;
  float: left;
  position: relative;
  text-align: center;
}


article {
  border-top: 1px solid #b7b7b7;
  padding-top: 1.5em;
  margin-bottom: 1.5em;
  clear: both;
}
article.first {
  border-top: 0;
  padding-top: 0;
}
article.last {
  margin-bottom: 0;
}
article:only-child, article:first-child {
  border-top: 0;
  padding-top: 0;
}
article:last-child {
  margin-bottom: 0;
}

article h1 .date {
  color: #A4A4A4;
  font-size: 0.3em;
}
article .mod_date {
  font-family: "FuturaND-Bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  color: #A4A4A4;
  font-size: 0.875em;
  display: block;
  width: 100%;
  line-height: 1.71428571428571428571em;
}

.notes header,.notes header h1,.notes #main {
  float: none;
}
.notes header h1 {
  display: block;
  margin-bottom: 0;
}
.notes header,.notes #main, .resume #main {
  width: 100%;
}


.pg-blog article.link header a:after {
  font-family: 'Icons';
  speak: none;
  padding-left:0.4em;


  content: '\26e2';
}

ol.posts {
  list-style:none;
  padding:0;
}

article.post {
  border-bottom: 1px solid #b7b7b7;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  clear: both;
}
.entry-content img {
  max-width: 100%;
  margin-bottom: 1.5em;
}



@import "clearing";


.pg-readmore pre {
  margin: 0;
}
.pg-readmore .highlight {
  margin-bottom: 1.5em;
}
.pg-readmore .slide + a {
  margin-top: -1em;
  margin-bottom: 1.5em;
}

.pg-readmore #info + .readmore-js-toggle {
  padding-bottom: 4.5em;
}

.pg-readmore #demo {
  border-top: 1px solid #8e8e8e;
  padding-top: 3em;
}


/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */
}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */
}


@media screen and (max-width: 768px) {
	body{padding:0.75em;}
	header h1 {
		width:100%;
		float:none;
	}
	header h1 a {display:inline;}
	header h2 {
		width: 100%;
		float:none;
		clear:both;
	}
	header nav{
		float:none;
		clear:both;
	}
	nav ul, nav li {float:none;}
	nav li {line-height:1.5;}
	#main, #sidebar  {
		width:100%;
		float:none;
		clear:both;
	}
	#sidebar {
		padding-top:1.5em;
		border-top: 1px solid #b7b7b7;
	}
}

@media screen and (max-width: 360px), screen and (max-width:640px) {
  h1 {
    font-size: 2.5em;
  }
  header h1 {
    margin-bottom: 0.1em;
    font-size: 2.75em;
  }
  header h2 {
    text-align: left;
    margin-bottom: 0.75em;
    font-size: 1.25em;
    line-height: 1.5;
  }
  header h2 span {
    display: inline;
  }
  .notes header h1 {
    margin-bottom: 0.1em;
    font-size: 4.5em;
  }
  .pg-work section {
    margin-bottom: 0;

    section h1 {
      font-size: 1.5em;
      line-height: 1;
      margin-bottom: 1em;
    }
    img {
      float: none;
      clear: both;
      margin-right: 0;
      margin-bottom: 1em;
      width: 99%;
    }
    ul {
      float: none;
      clear: both;
      width: 100%;
    }
  }
  .pg-contact form {
    width: 100%;
    float: none;
    clear: both;
    margin-bottom: 1.5em;
  }
  .pg-contact label {
    float: none;
    clear: both;
    width: 100%;
    margin-right: 0;
    text-align: left;
  }
  .pg-contact input, .pg-contact textarea {
    width: 96%;
  }
  .pg-contact button[type="submit"] {
    float: none;
    margin-left: 0;
  }
  .pg-contact .error {
    float: none;
    clear: both;
    margin-left: 0;
    position: relative;
  }
  .pg-contact .message label {
    height: auto;
  }
  .pg-work section li, .pg-contact p.success {
    float: none;
    clear: both;
  }
}

@media screen and (max-width: 480px) {
  #main .span-half th {
    padding-top: .375em;
    padding-bottom: .375em;
  }
  .notes th {
    font-size: 0.8em;
    line-height: 1.625;
  }

}

@media screen and (min-width:360px) and (max-width: 480px) {
	header h1 {
		font-size:4.25em;
	}
	header h2 {
		font-size:1.5em;
		line-height:1.5;
	}
  header h2 span:last-child {
    display: inline;
  }
  .pg-work section img {
    margin-bottom: 1.5em;
  }
  .pg-work section ul,.pg-work section li {
    float: left;
    clear: none;
  }

}

@media screen and (min-width:480px) and (max-width: 560px) {
  header h1 {
    font-size: 4.5em;
  }
  header h2 {
    font-size: 2.5em;
    line-height: 1.33;
  }
  header h2 span:last-child {
    display: block;
  }
  header nav ul {
    font-size: 2.5em;
  }
  .pg-work section img {
    margin-bottom: 1.5em;
  }
  .pg-work section ul, .pg-work section li {
    float: left;
    clear: none;
  }

}

@media screen and (min-width: 560px) and (max-width: 640px) {
  header h1 {
    font-size: 5.5em;
  }
  header h2 {
    font-size: 2.5em;
    line-height: 1.33;
  }

  .pg-work section img {
    margin-bottom: 1.5em;
  }
  .pg-work section ul, .pg-work section li {
    float: left;
    clear: none;
  }


  .pg-contact form {
    width: 100%;
    float: none;
    clear: both;
    margin-bottom: 1.5em;
  }
  .pg-contact label {
    float: left; /* same as default */
    clear:none;
    width: 31.428571428571428571%; /* same as default */
    margin-right:2.857142857142857142%; /* same as default */
    text-align:right; /* same as default */
  }
  .pg-contact input, .pg-contact textarea {
    width: 64.285714285714285714%; /* same as default */
  }
  .pg-contact button[type="submit"] {
    float: left; /* same as default */
    margin-left:34.285714285714285714%; /* same as default */
  }

  .pg-work section {
    margin-bottom: 1.5em; /* same as default */
    padding-top:2.95em; /* same as default */

    img {
      float: left; /* same as default */
      margin-right:2.857142857142857142%; /* same as default */
      margin-bottom:1.5em; /* same as default */
      width:54.29%; /* same as default */
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
  header {
    width: 100%;
    float: left;
    padding: 1.5em 0 0.75em;
    margin-bottom: 1.45em;
    border-bottom: 1px solid #b7b7b7;
  }
  header h1 {
    width: 74.468085106382978723%;/* 700/940 */
    float:left;
    font-size: 5.25em;
    margin-bottom: -1.5em;
  }
  header h1 a {
    display: inline-block;
    padding-top: 2px;
  }
  header h2 {
    width: 23.4104255319148936170%;/* 220/940 */
    float:right;
    text-align: right;
    line-height: 1.33;
    margin: 0 0 0.625em;
    font-size: 1.2em;
  }
  header h2 span {
    display: inline-block;
    width: 100%;
  }
  header h2 span:last-child {
    display: block;
  }

  nav {
    width: 100%;
    float: left;
    margin-bottom: 1.5em;
  }
  nav ul {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  nav li {
    display: block;
    float: left;
    margin-right: 2.5em;
  }
  header nav {
    margin-bottom: 0;
  }
  header nav ul {
    font-size: 2em;
  }
  header nav a {
    display: inline-block;
  }
  nav li.page-.home, nav ul ul, nav li.ancestor ul ul {
    display: none;
  }

  .pg-work section {
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 1.5em;
    border-top: 1px solid #b7b7b7;
    padding-top: 2.95em;

    &.first {
      border: 0;
      padding: 0;
    }
    h1 {
      font-size: 1.2em;
      line-height: 1.3;
      margin-bottom: 1.3em;
    }
    img {
      float: left;
      -webkit-box-shadow: 1px 2px 4px rgba(33, 33, 33, 0.55);
      box-shadow: 1px 2px 4px rgba(33, 33, 33, 0.55);
      margin-right: 2.857142857142857142%;
      margin-bottom: 1.5em;
      width: 54.29%; /* 380/700 */
    }
    ul {
      float: left;
      clear: none;
      list-style: none;
      padding-left: 0;
      width: 42.857142857142857142%; /* 300/700 */
      margin-right:0;
    }
    li {
      background: url('/img/portfolio-icons.png') no-repeat;
      float: left;
      clear: none;
      display: block;
      margin-right: 1.25em;
      padding-left: 1.25em;
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 740px) {
  header h1 {
    font-size: 5.0em;
  }

  header h2 {
    font-size: 1em;
    line-height: 1.5;
  }
}

@media screen and (min-width: 640px) and (max-width: 696px) {
  header h1 {
    font-size: 4.69em;
  }

  header h2 {
    font-size: 1em;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) and (max-width: 970px) {
  header h1 {
    width: 74.468085106382978723%;/* 700/940 */
    float:left;
    font-size: 5.5em;
    margin-bottom: -1.5em;
  }
  header h2 {
    width: 23.4104255319148936170%;/* 220/940 */
    float:right;
    text-align: right;
    line-height: 1.33;
    margin: 0 0 0.625em;
    font-size: 1.2em;
  }
}

@media screen and (min-width: 768px) {
  /*
    h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
    h2 {font-size:2em;margin-bottom:0.75em;}
    h3 {font-size:1.5em;line-height:1.1;margin-bottom:0.9em;}
    h4 {font-size:1.25em;line-height:1.2;margin-bottom:1.2em;}
    h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
    h6 {font-size:1em;font-weight:bold;}
  */

  .resume .skills {
    display: block;
    float: right;
    width: 23.404255319148936170%;
    margin-left: 2.12765957446808510638%;
  }

  .resume .skills h2 {
    font-size: 1.25em;
    line-height: 1.2;
    margin-bottom: 1.2em;
  }

  .resume .skills ul {
    font-size: .875em;
    line-height: 1.725;
    margin-bottom: 1.725em;
  }

  .resume .skills h3 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 0em;
  }

  .resume .experience {
    display: block;
    float: left;
    width: 74.468085106382978723%;
  }
}

@media screen and (max-width: 640px) {
  #main .span-half {
    float: none;
    width: 100%;
    margin-right: 0%;
  }
}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
  }
}


/**
 * Print styles.
 */
@media print {
	/* -- HTML5 Boilerplate's print stles -- */
  * {
    background: transparent !important;
    color: #333 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a, a:visited {
    color: #555 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
    font-size: 50%;
  }
  header a[href]:after {
    content: "";
    display: none;
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }

  /* -- Blueprint's print styles -- */
  hr {
    background: #ccc;
    color: #ccc;
    width: 100%;
    height: 2px;
    margin: 2em 0;
    padding: 0;
    border: none;
  }
  hr.space {
    background: #fff;
    color: #fff;
    visibility: hidden;
  }
  code {
    font: .9em "Menlo", Monaco, "Courier New", Courier, monospace;
  }
  header, a img {
    border: none;
  }
  p img.top {
    margin-top: 0;
  }
  blockquote {
    margin: 1.5em;
    padding: 1em;
    font-style: italic;
    font-size: .9em;
  }
  .small {
    font-size: .9em;
  }
  .large {
    font-size: 1.1em;
  }
  .quiet {
    color: #999;
  }
  .print-hide {
    display: block;
  }
  .hide,#sidebar, header nav {
    display: none;
  }
  #main {
    width: 100%;
    margin-right: 0;
  }
  header h1 {
    white-space: nowrap;
    font-size: 5em;
  }
  header a {
    text-decoration: none;
  }
  header h2 {
    font-size: 1.1em;
  }
}
