div#sidebar
  nav#socialLinks
    a(href='http://twitter.com/jed_foster')
      svg
        title Twitter
        use(xlink:href='/img/svg/social-icons.svg#twitter')

    a(href='http://github.com/jedfoster')
      svg
        title GitHub
        use(xlink:href='/img/svg/social-icons.svg#github')

    // a(href='https://plus.google.com/106006305598754927268')
    //   svg
    //     title Google+
    //     use(xlink:href='/img/svg/social-icons.svg#google')

    a(href='http://www.linkedin.com/in/jedfoster')
      svg
        title LinkedIn
        use(xlink:href='/img/svg/social-icons.svg#linkedin')

    a(href='/contact')
      svg
        title Contact
        use(xlink:href='/img/svg/social-icons.svg#contact')

  != partial('_twitter')

