nav#socialLinks
  a#twitter(href='http://twitter.com/jed_foster')
    span Twitter
  a#github(href='http://github.com/jedfoster')
    span GitHub
  a#gplus(href='https://plus.google.com/106006305598754927268')
    span Google+
  a#email(href='/contact')
    span Contact

!= partial('_twitter')
