h1 Resume


div.experience
  :markdown
    ## Experience

    * 15 years of day-to-day, practical experience hand coding HTML, CSS, JavaScript, Ruby, PHP, and MySQL
    * Built numerous websites using responsive design principles, icon fonts to support HiDPI displays, HTML5 JavaScript APIs, CSS3 transforms, and other techniques
    * Developed numerous e-commerce/content management systems and custom web apps using PHP/MySQL and Ruby/RoR
    * Core contributor to several open-source projects


div.skills
  :markdown
    ## Qualifications

    ### Expert

    * HTML5
    * CSS3
    * Responsive Web Design
    * Sass
    * Ruby
    * Sinatra
    * Ruby on Rails
    * JavaScript
    * Git
    * PHP
    * Apache

    ### Proficient

    * Node.js
    * Express
    * Mocha
    * CoffeeScript
    * Gulp
    * Jade
    * HAML
    * TDD
    * Vim
    * Redis
    * OAuth
    * Jekyll
    * Harp
    * Bower
    * Cucumber/RSpec
    * Rack::Test
    * Jasmine
    * Heroku
    * PostgreSQL
    * MySQL
    * Amazon S3
    * Amazon Route 53
    * Agile development practices

    ### Perpetual Interests

    * Usability & accessibility best practices
    * Next-generation web technologies and techniques
    * Typography, grid design, and color theory
    * Semantic markup and the open web
    * Industrial design and the history of common objects

    ### Intangibles

    * Passionate about the intersection of design and code
    * Dedicated to continued learning in a wide range of disciplines
    * Able to plainly communicate technical concepts
    * Learn new concepts and technologies quickly


.employment
  .open-source
    :markdown
      ## Open-source Projects

      ### [SassMeister.com](http://sassmeister.com)

      A web app for experimenting with Sass. Written in Ruby, using Sinatra. Deployed to Heroku.

      * Icon font
      * GitHub OAuth API
      * HTML5 localStorage
      * Service Oriented Architecture
      * Memcache
      * Node.js
      * Bower
      * Gulp
      * Mocha
      * MiniTest
      * Packaged several Sass libraries as Compass extensions and published them as Ruby gems
      * Submitted numerous pull-requests against various Sass libraries to improve their code quality and compatibility with the app

      ### [Roughdraft.io](http://www.roughdraft.io)

      A micro-publishing platform backed by GitHub Gists. Written in Ruby, using Sinatra. Deployed to Heroku.

      * Redis for caching content retrieved using the Github API
      * Server-to-server GitHub OAuth API

      ### [Readmore.js](https://github.com/jedfoster/Readmore.js)

      A smooth, lightweight jQuery plugin for collapsing and expanding long blocks of text with “Read more” and “Close” links.

      ### [HTML5 WP Audio Player](https://github.com/jedfoster/html5-WP-audio-player)

      An implementation of a popular WordPress audio player for browsers that support HTML5’s `audio` tag, with fallback to the original Flash player for browsers that don’t.

      * CSS3 transitions
      * Icon font
      * Forked and improved an existing JavaScript library

      ### [icomoon2sass](https://github.com/jedfoster/icomoon2sass)

      A Ruby gem that makes importing icon fonts from icomoon.io easier and less error-prone

      ### [Toadstool](https://github.com/Toadstool-Stipe/toadstool)

      Sinatra-based style guide app.

      * Co-developer
      * Implemented dynamic routing in Sinatra
      * Created a suite of automation tools for developing with the app

      ### [Stipe](https://github.com/Toadstool-Stipe/stipe)

      Sass library that forms the core of Toadstool.

      * Co-developer
      * Engineered a modular file structure
      * Extracted core Sass into a Compass extension
      * Created a Ruby gem



  .history
    :markdown
      ## Employment History

      ### April 2015 - present

      Senior Front-end Engineer, Ruby on Rails  
      _Gemio_

      * Developed advanced, touch-friendly interactions for a youth-focused web app.
      * Used HTML5 APIs such as `<canvas>` and drag-and-drop.
      * Implemented a component-based front-end architecture.


      ### March 2015 - present

      Senior Front-end Engineer, HTML5 Video Research & Development  
      _ESPN (contracted through Rooster Park)_

      * Research, development, and prototyping for a new video player to be used site-wide on ESPN.com and affiliated properties.
      * Built proof-of-concept implementations of third-party video player solutions, Brightcove Perform and Adobe Primetime.
      * Wrote a JavaScript library to abstract the APIs of the two players.
      * Worked very closely with ESPN developers to construct a solution that met ESPN's business and developer needs.
      * Identified bugs and other potential issues with each library and worked with vendors to address concerns.
      * Integrated third-party services including FreeWheel, Omniture, Conviva, Neilsen, and comScore.
      * Wrote numerous technical reports and documentation to enable smooth hand-off to various ESPN development teams.


      ### June 2014 - March 2015

      Software Engineer, Ruby on Rails  
      _Urbanspoon/Zomato_

      * Worked on an Ember single-page application (SPA) for a new Zomato service.
      * Implemented the web aspect of a major rebranding initiative.
      * Guided a modular front-end archtecture, updating large sections of legacy markup and styles.
      * Replaced Bootstrap Sass gem with a custom Sass framework, eliminating thousands of lines of unnecessary code.
      * Created a front-end pattern library, outlining markup and style contracts.
      * Improved Sass compile time by almost 50%.
      * Worked on a major localization project. Architected a model for the translation tables, based on principles of modular design.
      * Wrote a Rake task to integrate with a localization vendor's API, automating the management of translation strings.
      * Converted a large number of non-responsive pages of the site to be responsive, or at least fluid.
      * Rewrote a custom Javascript library for interacting with Filepicker.io. Also rewrote large portions of Ruby code around interacting with Amazon S3.
      * Wrote a Ruby gem, icomoon2sass, to make importing icon fonts from icomoon.io easier and less error-prone. Integrated as a Rake task.
      * Implemented microdata and Google Tag Manager for analytics.


      ### February 2012 - May 2014

      Software Engineer, Front End Developer, Ruby on Rails  
      _Getty Images_

      * Worked on a team building a unified, Ruby on Rails-based platform for several Getty Images websites.
      * Established code organization best practices for a large multi-app, multi-site Sass library.
      * Improved existing Sass code and sought to improve team compentency in CSS and Sass best practices.
      * Implemented responsive designs.
      * Built and maintained an icon webfont and associated Sass code, solving issues such as cross-browser support and sub-pixel antialiasing along the way.
      * Collaborated closely with UX designers on UI concepts and prototypes for an upcoming redesign of gettyimages.com.
      * Gained experience in test-driven design with Cucumber and Jasmine.
      * Co-authored and maintained a Rails-based style guide. Engineered the framework's modular structure, dynamic routing, and the Ruby gem that forms the core Sass library.
      * Maintained and developed marketing web pages and microsites using HTML5, CSS3, jQuery, and XML.
      * Assumed lead role in the maintenance of a legacy style guide framework for marketing portions of the website.
      * Coached co-workers on HTML/CSS/JS best practices, version control, troubleshooting, and other development techniques.
      * Wrote numerous automation scripts in Ruby to manipulate the hundreds--sometimes thousands--of HTML fragment files that constitute a single marketing web page, including localized versions in more than ten languages.
      * Migrated hundreds of pages of content from a legacy CMS to a new one. Wrote a Ruby script to transform XML documents into HTML fragments that could be consumed by the new CMS, as well as locate and move thousands of graphics from the old system to the new one.


      ### 2005 – 2013

      Self-employed, Web Designer, Front End Developer, Software Engineer

      * Designed, built, and maintained numerous websites for clients in fields such as health care, education, industrial manufacturing and sales, community services, motivational speaking, non-profit charities, and transportation safety.
      * Wrote a custom content-management system with the KohanaPHP MVC framework.
      * Developed several iterations of a custom content-management system, most of which are still in use.
      * Built an e-commerce solution that has processed about $350,000 in revenue for clients.
      * From 2007 through 2011 I continued working with Captive Audience as my largest client. I designed and implemented business-critical database and infrastructure solutions using FileMaker Pro Server and PHP/MySQL web applications, such as integrating an offline FileMaker database with an online ordering system using PHP/MySQL and XML, and developing a custom CRM web app that tied in with their larger FileMaker system.


      ### 1999 – 2007

      Production Director, Audio Editor, Graphic Designer, IT Manager  
      _Captive Audience Marketing Inc._

      * Designed brochures, business cards, product manuals, postcards, trade show displays, and other marketing collateral.
      * Maintained all office infrastructure including computer hardware, peripherals, network, operating systems, and business software.
      * Designed and implemented production workflows and order tracking systems.
      * Developed online knowledge base of office procedures, product data, and IT and production protocols for internal reference.
      * Provided internal training in computers, product specifications, and audio/video production.


.print-hide
  :markdown
    ## Contact Info

    Email: [jed@jedfoster.com](mailto:jed@jedfoster.com)
    Mobile: 253.298.2868

