:markdown
  # AudioJS

  Fork of [VideoJS](http://videojs.com/) for audio, with all themes from VideoJS.

  ### Authors

  Based on VideoJS from [Zencoder](http://zencoder.com)  and modified by [dz0ny](https://github.com/dz0ny) and [jedfoster](https://github.com/jedfoster) 

hr

h4 Default Skin

.audio-js-box
  audio.audio-js(controls preload)
    source(src="/audio/Palace Cat - Crookshanks.mp3" type="audio/mpeg")
    source(src="/audio/Palace Cat - Crookshanks.ogg" type="audio/ogg")
    source(src="/audio/Palace Cat - Crookshanks.wav" type="audio/wav")

hr 

h4 YouTube Skin

.audio-js-box.tube-css
  audio.audio-js(controls preload)
    source(src="/audio/Palace Cat - Crookshanks.mp3" type="audio/mpeg")
    source(src="/audio/Palace Cat - Crookshanks.ogg" type="audio/ogg")
    source(src="/audio/Palace Cat - Crookshanks.wav" type="audio/wav")

hr 

h4 Vimeo Skin

.audio-js-box.vim-css
  audio.audio-js(controls preload)
    source(src="/audio/Palace Cat - Crookshanks.mp3" type="audio/mpeg")
    source(src="/audio/Palace Cat - Crookshanks.ogg" type="audio/ogg")
    source(src="/audio/Palace Cat - Crookshanks.wav" type="audio/wav")

hr 

h4 Hulu Skin

.audio-js-box.hu-css
  audio.audio-js(controls preload)
    source(src="/audio/Palace Cat - Crookshanks.mp3" type="audio/mpeg")
    source(src="/audio/Palace Cat - Crookshanks.ogg" type="audio/ogg")
    source(src="/audio/Palace Cat - Crookshanks.wav" type="audio/wav")

hr 

:markdown
  ### WordPress Audio Player skin

  I created [an HTML5 version](http://jedfoster.github.com/html5-WP-audio-player) of the awesome [WordPress Audio Player](http://wpaudioplayer.com/standalone/) by [Martin Laine](http://www.1pixelout.net/) for browsers that support HTML5's code `<audio>`  tag, with fallback to the original WP Audio Player for browsers that don't.

  This isn't so much a "skin" as a new project based on this project. You should [check it out!](http://jedfoster.github.com/html5-WP-audio-player/)

  ---

  ### Download

  You can download this project in either [zip](https://github.com/jedfoster/AudioJS/zipball/master) or [tar](https://github.com/jedfoster/AudioJS/tarball/master) formats.



  Audio sample is [Crookshanks by Palace Cat](http://palacecat.bandcamp.com/track/crookshanks), via [duplokat](http://duplokat.tumblr.com/post/12695092003/geek-friday-ringtone).

  [Fork me on GitHub!](https://github.com/jedfoster/audiojs)


